*{
    padding: 0px;
    margin: 0px; 
    background: #DAF0C1;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    }
body{
  background: #DAF0C1;
}    
.header{
      width: 100%;
      height: 100vh;
      padding: 0 10%;
      background: transparent; 
}
.heading{
  text-align: center;
  margin-top: 25px;
}
.heading h1{
  font-size: 50px;
  color:#747b5a;
  margin-bottom: 10px;
}
.heading p{
  font-size: 20px;
  color:#DAF0C1;
  margin-bottom: 50px;
}
.about-us{
  display: flex;
  align-items: center;
  width: 85%;
  margin:auto;
}
.about-us img{
  flex:0 50%;
  max-width: 50%;
  height: auto;
}
.content{
  padding: 35px;
}
.content h2{
  color:#747b5a;
  font-size: 24px;
  margin: 15px 0px;
}
.content p{
  color:#747b5a;
  font-size: 18px;
  line-height: 1.5;
  margin: 15px 0px;
}

nav{

  width: 100;
  display: flex;
  align-items:  center;
  justify-content: space-between;
  padding: 20px 0;
  position: relative;
  z-index: 100;
}

nav ul li{
  display:  inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a{
  text-decoration: none;
  color: #8c946d;
  font-size: 22px;
}
.text-box{
  margin-top: 130px;
  max-width: 600px;
}
.text-box h1{
  font-size: 45px;
  margin-bottom: 20px;
  color: #747b5a;
 
}
.text-box a{
  display: inline-block;
  text-decoration: none;
  color: #fff;
  background:#747b5a ;
  padding: 10px 30px;
  font-size: 18px;
  margin-top: 50px;
  border-radius:  6px;
}
.user-box{ 
    background: #ffffff;
    position: absolute;
    top: 0;
    right: 12%;
    z-index: 1;
}
.user-box image{
  display: block;
  padding-top: 100px;
  width: 410px;
}
@media(max-width: 768px){
  .about-us{
    flex-direction: column;
  }
  .about-us img{
    flex: 0 100%;
    max-width: 100%;
  }
  .content{
    flex:0 100%;
    max-width: 100%;
    padding: 15px;
  }
  .text-box{
    flex: 0 100%;
    max-width: 100%;
    padding: 15px;
  }
  .user-box{
    flex: 0 100%;
    max-width: 100%;
    padding: 15px;

  }
  nav{
    flex: 0 100%;
    max-width: 100%;
    padding: 15px;
  }

}